:root{
    scroll-behavior: smooth;
  }

.bg-img{
    background-image: url(https://media.wired.com/photos/592685717034dc5f91bebb7e/master/pass/TeslaHP-501837086.jpg);
    background-size:cover;
    min-height: 60vh;
}
@media(max-width:850px) {

    #disappear-img-txt{
        display:none;
    }
    
}
.placeholder-opac{
    background-color: grey !important;    
}

.positioning{
    position:absolute !important;
    top:200!important;
    left:100!important;
    right:0!important;
}
@media(max-width:1000px) {

    #disappear-card{
       position:relative!important;
    }
}

.custom-margin{
    margin-top: 5rem!important;
}

@media(max-width:800px) {
    #mobile-margins{
        margin-left:0rem!important;
        margin-right:0rem!important;
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
        padding: 1rem !important;
    }
}

.custom-padding{
    padding: inherit;
}

.custom-font{
    font-family: 'Short Stack', cursive;
  }

.txt-over-img-padding{
    padding-top: 12rem;
    
    padding-right: 5rem;
}

@keyframes change-nav-color {
    from {background-color:secondary;}
    to {background-color:danger;}
  }